.row-list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:20px;
    justify-content: flex-start;

    flex-wrap: wrap;
    width:100%;
    height: fit-content;
    grid-auto-flow: row;
    
}
/* .row-list .item:not(:last-child){
    margin-right:30px;
    
} */
/* .row-list .item{
    margin-bottom:20px;
    
} */
.row-list-item{
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    width:200px;
    height:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:white;
}
.row-list-item-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:black;
    
}
.row-list-item-image{
    width:200px;
    height: 228px;
}
.row-list .price{
    font-size: 15px;
    color:orangered;
}
.row-list .new-price{
    font-size: 15px;
}
.row-list-name{
    font-size: 30px;
    color:white;
}
.row-list-description{
    font-size: 15px;
    color:gray;
}
.row-list-wrapper{
    display: grid;
    grid-template-rows: auto;

}
@media screen and (max-width: 1600px) {
    .row-list{
        grid-template-columns: auto;
        overflow-x: scroll;
        grid-auto-flow: column;
    }
}