.item-page-container{
    display: grid;
    grid-template-rows: auto;
    row-gap: 50px;
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    padding-bottom: 20px;
}
.item-page-edition-container{
    display: inline-grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    column-gap: 20px;
    width:fit-content;
    height:fit-content;
}
.item-page-edition{
    display:inline-flex;
    flex-direction: column;
    width: 250px;
    height: 65px;
    padding:10px;
    justify-content: space-evenly;
    align-items: flex-start;
    color:white;
    border:solid 2px transparent;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.2s;

}
.item-page-edition.active{
    background-color:rgba(255, 69, 0, 0.5);
    border-color: orangered;
}
.item-page-edition:hover{
    background-color:rgba(0, 0, 0, 1);
    
}
.item-page-edition-price{
    font-size: 10px;

}
.item-page-description-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 50px;
}
.item-page-image{
    position: relative;
    display: grid;
    width:100%;
    height:470px;
    grid-template-columns: 10px 10px;
    background-image:url("https://upload.wikimedia.org/wikipedia/en/b/b4/Halo_3_final_boxshot.JPG");
    background-size:cover;
    border-radius: 5px;
    border:solid 1px white;
    box-shadow:0px 5px 2px rgba(0, 0, 0, 0.5);
}
.item-page-description-info{
    position: relative;
    display: grid;
    width:100%;
    height:100%;
    grid-auto-rows: min-content;

    row-gap: 20px;
}
.item-page-description-title{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.item-page-description-tag-container{
    display: inline-grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    column-gap: 20px;
    width:fit-content;
    height:fit-content;
}
.item-page-description-tag{
    font-size:16px;
    color:white;
    padding-left: 10px;
    border-left: solid 2px white;
}

.item-page-description-price-container{
    display: inline-grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items:center;
    column-gap: 20px;
    width:100%;
    height:fit-content;
    font-size: 20px;
}
.item-page-description-price{
    color: white;
}
.item-page-description-price-button{
    display:inline-flex;
    flex-direction: column;
    width: 100px;
    height: 25px;
    padding:10px;
    justify-content: center;
    align-items: center;
    color:black;
    font-weight: bold;
    
    border:solid 2px transparent;
    border-radius: 10px;
    background-color:goldenrod;
    transition: all ease-in-out 0.2s;
}
.item-page-description-price-button:hover{
    background-color:white;
}
.item-page-description-price-new-price{
    text-decoration: line-through rgba(255, 255, 255, 0.658) 2px;
    color:rgba(255, 255, 255, 0.658)
}
.item-page-description-price-discount{
    display:inline-flex;
    flex-direction: column;
    width: 50px;
    height: 20px;
    padding:5px;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size: 15px;
    border:solid 2px transparent;
    border-radius: 10px;
    background-color:rgb(218, 32, 162);
    transition: all ease-in-out 0.2s;
}
.item-page-description-additional-container{
    display: inline-grid;
    grid-template-columns:auto;
    grid-auto-flow: column;
    column-gap: 10px;
    color:white;
}
.item-page-description-additional{
    
    display: grid;
    grid-template-rows:auto;
    
    font-size: 13px;
    
}
.item-page-description-additional-value{
    font-weight: normal;
    font-weight: bold;
    font-size: 16px;
}
.item-page-item-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
    row-gap:30px;
    column-gap: 50px;
}
.item-table{
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 10px;
}
.item-table-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.item-table-name{
    color:white;
}
.item-table-value{
    color:orangered;
}
.item-gallery-wrapper{
    position: relative;
    display:inline-flex;
  flex-direction: column;
    
    width:100%;
    overflow-x: hidden;
    padding-bottom: 20px;
}
.item-gallery{
    display:grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    column-gap: 50px;
    height:fit-content;
    width:4000px;
    margin-top: 50px;
    transition: all ease-in-out 0.2s;
}
.item-gallery-item{
    width:800px;
    height: 400px;
    border-radius: 25px;
    /* border:solid 2px white; */
  
    background-size:cover;
    box-shadow:0px 5px 2px rgba(0, 0, 0, 0.5);
}
.item-gallery-button{
    display:flex;
    justify-content: center;
    align-items:center;
    height:fit-content;
    width:fit-content;
    border:solid transparent 2px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    font-size: 20px;
}
.item-gallery-button.active{
    border-color:orangered;
    background-color:rgba(250, 150, 0, 0.267);
}
.item-gallery-button:hover{
    border-color:white;
}
.item-gallery-button-row{
    display:grid;
    grid-auto-columns:min-content;
    column-gap: 20px;
    grid-auto-flow: column;
}
.multiple-panel-container{
    display:grid;
    width: 100%;
    grid-auto-rows: min-content;
}
.multiple-panel-body{
    display:grid;
    
    width: 100%;
    height:400px;
   
    background-color:black;
    border:solid 1px white;
    box-sizing:border-box;
    border-top:none;
    
}
.multiple-panel-content{
    display:inline-flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
    height:auto;
    background-color:black;
    color:white;
}
.multiple-panel-title{
    font-size: 40px;
}
.multiple-panel-head{
    display: inline-flex;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    align-items:flex-end;
    
    
    
    height: 30px;
    width: 100%;
}
.multiple-panel-head-fill{
    width:100%;
    height: 100%;
    border-bottom:solid 1px white;
    
}
.multiple-panel-button{
    position: relative;
    display: flex;
    width: auto;
    white-space: nowrap;
    height: 100%;
    justify-content: center;
    align-items:center;
    padding:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    border-bottom:solid 1px white;
    color:white;
    z-index: 5;
}
.multiple-panel-button.active{

    background-color:black;
    border:solid 1px white;
    border-bottom: none;
    padding-bottom: 11px;
    padding-left: 9px;
    padding-right: 9px;
    /* box-shadow:-1px 1px 0px black; */

}
.similiar-items-wrapper{

}